body{
    box-sizing: border-box;
    background-color: #34568b;
    height: 100vh;
}   
h1{
    text-align: center;
    margin-bottom: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #8a8a33	;
}

.navbar-brand{
    padding-top: 25px;
}
  
.navbar-brand h1 { 
    font-family:'Times New Roman', Times, serif;
    color: #34568b;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
 }

#nav-list{
    margin-top: 10px;
}

#nav-list a{
    text-align: center;
    color: #34568b;
    font-weight: bold;
    

}

#nav-list a:hover{
    background:#34568b ;
    color:#8a8a33 ;

}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar
{
    border: 1px solid #34568b;
}
.row #colone1 {
    width: 30%;
    background-clip: padding-box;
    padding: 0px 0px 30px 30px;
    background: rgba(128, 128, 128, 0.728);
    text-align:right;
    text-decoration: none;
    border: 2px solid #00431c;
    border-radius: 5px;
    margin-right: 40px;
    
    
}
.row #colone2 {
    width: 30%;
    background-clip: padding-box;
    padding: 0px 0px 30px 30px;
    background:rgba(128, 128, 128, 0.728);;
    text-align:right;
    text-decoration: none;
    border: 2px solid #00431c;
    border-radius: 5px;
    margin-right: 40px;
}
.row #colone3 {
    width: 30%;
    background-clip: padding-box;
    padding: 0px 0px 30px 30px;
    background: rgba(128, 128, 128, 0.728);
    text-align:right;
    text-decoration: none;
    border: 2px solid #00431c;
    border-radius: 5px;
}

.text{
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    color:rgb(0, 0, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.buttone{
    font-size: 21px;
    text-decoration: none;
    padding: 2px;
    color: #fff;
    border: 1px solid #00431c;
    border-radius:2px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

#colone1 .buttone{
    background-color: #75c0e0;
}

#colone2 .buttone{
    background-color: #fecf6a;
}

#colone3 .buttone{
    background-color: #82caaf;
}
#header-nav{
    background-color:	#9A8B4F	;
    border-radius: 0;
    border:0;
}

@media (max-width:992px)
{
   .row #colone3
    {
        margin-top: 15px;
        width: 94%;
        background-clip: padding-box;
        padding: 0px 0px 30px 30px;
    }
    .row #colone2
    {
        width: 45%;
        background-clip: padding-box;
        padding: 0px 0px 30px 30px;
        margin-right: auto;
        margin-left: 15px;
    }
    .row #colone1
    {
        width: 45%;
        background-clip: padding-box;
        padding: 0px 0px 30px 30px;
        margin-right: auto;
        margin-right: 15px;
    }
}

@media(max-width:762px)
{
    #header-nav .container{
        padding: auto;
    }
    .row #colone3
    {
        margin: auto;
        margin-top: 15px;
        width: 70%;
        background-clip: padding-box;
        padding: 0px 0px 30px 30px;
    }
    .row #colone2
    {
        width: 70%;
        margin: auto;
        background-clip: padding-box;
        padding: 0px 0px 30px 30px;
        margin-right: auto;
        margin-top: 15px;
    }
    .row #colone1
    {
        margin: auto;
        width: 70%;
        background-clip: padding-box;
        padding: 0px 0px 30px 30px;
    }
}